# Byte-compiled / optimized files
__pycache__/
*.py[cod]

# IPython checkpoints
.ipynb_checkpoints/

.env
.python-version

# Data
*.csv
*.pickle
*.mp3
*.pdf

data/fma_small
test_audio_files
data/npy_files